<div class="section">
  <div class="content">
    <h1>Auth Testing</h1>
    <hr>
    <button type="button" class="button is-primary" (click)="login()">LOGIN</button>
    <button type="button" class="button is-warning" (click)="logout()">LOGOUT</button>
    <button type="button" class="button is-black" (click)="authRequest()">AUTH REQUEST</button>
  </div>
</div>
<div class="section">
  <app-highchart [settings]="chartSettings"></app-highchart>
  <button type="button" class="button is-warning" (click)="updateChart()">Update chart</button>
</div>